<div class="form-inline my-2 my-lg-0 d-flex align-items-center">
  <div class="input-group me-3" style="width: 440px">
    <span class="input-group-text" id="basic-addon1">
      <i class="fa-solid fa-magnifying-glass" style="color: cyan"></i>
    </span>
    <input
      type="search"
      class="form-control"
      placeholder="Search for guests, properties, partnerships..."
      aria-label="Search"
      aria-describedby="basic-addon1"
    />
  </div>

  <div class="btn-group me-3">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Add new
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
    </div>
  </div>

  <button class="btn btn-light border">
    <i class="fa-regular fa-bell"></i>
  </button>

  <img
    src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
    alt=""
    width="40"
    height="40"
    class="ml-3"
  />
</div>
