<div class="card p-3">
  <h3>Property Preview</h3>
  <img
    *ngIf="(property$ | async)?.image"
    [src]="(property$ | async)?.image"
    class="img-fluid rounded"
    alt="Property Image"
  />
  <p><strong>Name:</strong> {{ (property$ | async)?.name || "N/A" }}</p>
  <p>
    <strong>Description:</strong>
    {{ (property$ | async)?.description || "N/A" }}
  </p>
  <p>
    <strong>Location:</strong> {{ (property$ | async)?.city || "N/A" }},
    {{ (property$ | async)?.state || "N/A" }},
    {{ (property$ | async)?.country || "N/A" }}
  </p>
</div>
