<div class="card mb-3 mt-4 account-info-container">
  <div class="card-body">
    <div class="row">
      <div class="col-8 d-flex flex-column">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-hotel me-1"></i>
          <span class="d-ifnline">ABC apartments</span>
        </div>
        <span class="text-muted text-center" style="font-size: 0.9rem"
          >House/Apartment</span
        >
      </div>

      <div class="col-4 d-flex justify-content-end align-items-center">
        <i class="fa-solid fa-caret-up"></i>
      </div>
    </div>
    <div class="row mt-3">
      <a
        routerLink="/properties/new"
        class="d-flex align-items-center"
        style="color: cyan; text-decoration: none"
      >
        <i class="fa-solid fa-plus mr-1"></i> Add a new account
      </a>
    </div>
  </div>
</div>
