<div class="container">
  <app-spinner [loading]="loading"></app-spinner>

  <form [formGroup]="propertyForm" (ngSubmit)="handlePropertyFormSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Property Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Enter property name"
      />
      <div
        *ngIf="
          propertyForm.get('name')?.invalid && propertyForm.get('name')?.touched
        "
        class="text-danger"
      >
        Property name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        id="description"
        class="form-control"
        formControlName="description"
        placeholder="Enter description"
      ></textarea>
      <div
        *ngIf="
          propertyForm.get('description')?.invalid &&
          propertyForm.get('description')?.touched
        "
        class="text-danger"
      >
        Description is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image URL</label>
      <input
        type="url"
        id="image"
        class="form-control"
        formControlName="image"
        placeholder="Enter image URL"
      />
      <div
        *ngIf="
          propertyForm.get('image')?.invalid &&
          propertyForm.get('image')?.touched
        "
        class="text-danger"
      >
        Image URL is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input
        type="text"
        id="city"
        class="form-control"
        formControlName="city"
        placeholder="Enter city"
      />
      <div
        *ngIf="
          propertyForm.get('city')?.invalid && propertyForm.get('city')?.touched
        "
        class="text-danger"
      >
        City is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="state" class="form-label">State</label>
      <input
        type="text"
        id="state"
        class="form-control"
        formControlName="state"
        placeholder="Enter state"
      />
      <div
        *ngIf="
          propertyForm.get('state')?.invalid &&
          propertyForm.get('state')?.touched
        "
        class="text-danger"
      >
        State is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Country</label>

      <input
        type="text"
        id="country"
        class="form-control"
        formControlName="country"
        placeholder="Enter country"
      />
      <div
        *ngIf="
          propertyForm.get('country')?.invalid &&
          propertyForm.get('country')?.touched
        "
        class="text-danger"
      >
        Country is required.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="propertyForm.invalid"
    >
      {{ property() ? "Update Property" : "Create Property" }}
    </button>
  </form>
</div>
